/* --------------------------
  Keyframes
--------------------------- */



/* --------------------------
  SVG Styles
--------------------------- */

svg {
	display: block;
	margin: 2em auto 0;
	width: 40%;
}

.logo {
  stroke: #6fbc6d;
  stroke-width: 2;
  stroke-dasharray: 5;
  stroke-dashoffset: 15;
}

