
@mixin roundy($radius-one, $radius-two) {
	border-radius: $radius-one;
	border-top-right-radius: $radius-two;
	border-bottom-left-radius: $radius-two;

}

.box {
	@include roundy;

}

// A whole bunch of other code
.button {
	@include roundy;
	background: #345;
}
