.box {
  border-radius: 4px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

// A whole bunch of other code
.button {
  border-radius: 4px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}