/* =================================
  Button Transitions
==================================== */

.button {
	transition: background .3s;
}
.button:hover {
	background: rgba(74,137,202, 1);
}

/* =================================
  Photo 3D Transforms & Transitions
==================================== */

.content {
  perspective: 700px;
}

.photo {
  transform: rotateX(-35deg);
}