






.t-border {
  border-top: 2px solid #dfe2e6;
}

/* Layout Styles ------------------ */





/* Floated Columns ------------------ */


/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries -------------------- */

@media (max-width: 1024px) {
  .primary-content,
  .secondary-content {
    width: 90%;
  }
  .wildlife {
    padding: 10% 12%;
    margin: 50px 0 20px;
  }
}

@media (max-width: 768px) {
  .primary-content,
  .secondary-content {
    width: 100%;
    padding: 20px;
    border-top: none;
  }
  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }
  .main-title {
    font-size: 1.3rem;
    border: none;
  }
  .main-heading {
    font-size: 5rem;
    line-height: 1.1;
  }
  .arrow {
    display: none;
  }
  .intro {
    font-size: 1rem;
  }
  .resorts,
  .tips {
    float: none;
    width: 100%;
  }
  .main-footer {
    padding: 20px 0;
  }
}