/* =================================
  Button Transitions
==================================== */

.button {
	color: #fff;
	background: #4a89ca;
  transition-duration: .4s;
  transition-property: background;
}

.button:hover {
  background: #d36a62;
}

.button:active {
  background: #a33830;
}


/* =================================
  Photo Overlay Transitions
==================================== */

.photo-overlay {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .5s;
}

.photo-overlay:hover {
  opacity: 1;
}