<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href='styles/main.css' rel='stylesheet' type="text/css">
</head>
<body ng-app="todoListApp">
  <h1>My TODOs</h1>

    <div ng-controller="mainCtrl" class="list">
      <h1 ng-click="helloWorld()">My TODOs</h1>
      <div ng-repeat="todo in todos">
        <input ng-model="todo.completed" type="checkbox"/>
        <label ng-hide="editing" class="editing-label" ng-click="helloWorld()">{{todo.name}}</label>
        <input ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>
        <div class="actions">
          <a href="" ng-click=" editing = !editing">Edit</a>
          <a href="" ng-click="helloWorld()">Save</a>
          <a href="" class="delete">Delete</a>
        </div>
      </div>
      {{ todos }}
    </div>

  <script src="vendor/angular.js" type="text/javascript"></script>
  <script src="scripts/app.js" type="text/javascript"></script>
  <script src="scripts/hello-world.js" type="text/javascript"></script>
</body>
</html>