/*********************************
Basic Page Styles
**********************************/

body {
	margin: 0;
	font-family: verdana, sans-serif;
	font-size: 0.85em;
	background: #eac657;
}

#wrapper {
	width: 920px;
	margin: 0 auto;
}

/*********************************
Header
**********************************/

#header {
	float: left;
	margin: 20px 0;
	width: 100%;
}

h1 {
	float: left;
	margin: 0;
	text-indent: -20000px;
	width: 300px;
	height: 66px;
	background: url('../images/widget.png') top left no-repeat;
}