.box {
	width: 100%;
	height: 10px;
}

@each $member in thom, jonny, colin, phil {
	.bandmember.#{$member} {
		background: url("images/#{$member}.jpg")
	}
}

// @each $color in red, green, blue, yellow {
// 	@include color_class($color)
// }

@for $i from 1 through 100 {
	.box:nth-child(#{$i}) {
		background: darken(white, $i);
	}
}

