
/* Universal selectors*/
/* * {
	margin: 0;
	padding: 0;
	color: red;
}*/


/*@import "import-styles.css";

body {
	text-align: center;
}

h1 {
	font-size: 72px;
	color: white;
}

header {
	background-color: orange;
}

p {
	font-size: 20px;
}		*/	

