/* Type selectors */

body {
	color: #878787;	
	margin: 0;
	font-size: 1em;
}

h1 {
	font-size: 5.625rem; /* 90px / 16px */
	color: rgba(255, 255, 255, .5);
	text-transform: uppercase;
	font-weight: normal;
}

h2 {
	font-size: 53px;
	text-decoration: underline;
	font-weight: normal;
}

h3 {
	font-size: 20px;
	color: #48525c;
}

p {

}

/* Pseudo - Classes */

a:link {
	color: rgb(255, 169, 73);
	text-decoration: none;
}

a:visited {
	color: lightblue;
}

a:hover {
	color: rgba(255, 169, 73, .4);
}

a:active {
	color: lightcoral;
}

:focus {
	color: white;
	background-color: orange;
}

/* ID selectors */

#main-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: solid 10px #ffa949;
}

/* Class Selectors */

.main-header {
	background-color: #ffa949; /* This makes our header bg header orange */
}

.title  {
	color: white;
	font-size: 1.625rem; /* 26px/16px */
}

.primary-content, 
.secondary-content {
	width: 60%;
}

.primary-content,
.main-header {
	text-align: center;
}

ol li {
	background-color: tomato;
	color: white;
	margin-bottom: 5px;
}


.t-border {
	border-top: 2px solid lightgrey;
}





/* Universal selectors*/
/* * {
	margin: 0;
	padding: 0;
	color: red;
}*/


/*@import "import-styles.css";

body {
	text-align: center;
}

h1 {
	font-size: 72px;
	color: white;
}

header {
	background-color: orange;
}

p {
	font-size: 20px;
}		*/	

