#wrapper {
  font-family: sans-serif;
  width: 80%;
  margin: 0 auto;
}

.graph {
  padding: 0;
  width: 50%;
  float: left;
  border-bottom: 1px solid #888;
}

.graph li {
  position: relative;
  list-style: none;
  border-top: 1px solid #888;
  clear: both;
}

.fruit {
  display: block;
  padding: 1em;
  position: relative;
  color: #222;
  background: #66EE99;
  font-weight: bold;
  float: left;
}

.total {
  margin-top: 15px;
  float: right;
}







