body {
	font-family: Helvetica;
}

.content {
	.sidebar {
	  background: #999;
	  color: white;
	  padding: 5px;
	  float: left;
	  width: 100px;
	  a {
	  	display: block;
	  	color: white;
	  }
	  @media (max-width: 480px) {
	  	width: 95%;
			a {
				display: inline;
			}
	  	}
	}
	.main {
		padding: 5px;
		background: #bbb;
		display: inline-block;
		width: 60%;
		@media (max-width: 480px) {
			width: 95%;
		}
	}
}