/* --------------------------
  Keyframes
--------------------------- */
@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it {
  100% {
    fill: #6fbc6d;
  }
}


/* --------------------------
  SVG Styles
--------------------------- */

svg {
	display: block;
	margin: 2em auto 0;
	width: 40%;
}

.logo {
  stroke: #6fbc6d;
  stroke-width: 2;
  stroke-dasharray: 810;
  stroke-dashoffset: 810;

  animation: offset 5s linear forwards, fill-it .8s 5s forwards;
}

