// Web fonts

@mixin font-face($family, $file) {
	@font-face {
	  font-family: $family;
	  src: url('#{$path-font}/#{$file}-webfont.eot');
	  src: url('#{$path-font}/#{$file}-webfont.eot?#iefix') format('embedded-opentype'),
	       url('#{$path-font}/#{$file}-webfont.woff') format('woff'),
	       url('#{$path-font}/#{$file}-webfont.ttf') format('truetype');
	}
}